{% extends "base.html" %}
{% block content %}
  <h4>상세보기</h4>
  <form action="{% url "poll:vote" question_id=question.id %}" method="post">
    {% csrf_token %}
    <fieldset class="form-group boreder p-3">
      <legend class="w-auto px-2">
        <h3>{{question.question_text}}</h3>
      </legend>
      <p>
        <strong></strong>
      </p>
      {% comment %} question쪽에서 choice 접근하기 {% endcomment %}
      {% for choice in question.choice_set.all %}
      <div>
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
      </div>
      {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-info">vote</button>
  </form>
{% endblock content %}