{% extends "base.html" %}
{% block title %}
  <title>답변</title>
{% endblock title %}
{% block content %}
  <h5 class="my-3 border-bottom pb-2">답변 수정</h5>
  <form method="post" action="">
    {% include "form_errors.html" %}
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group mb-3">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {% if field.name == "contnet" %}
          <textarea class="form-control" rows="10" name="{{field.name}}" id="{{field.id_for_label}}" placeholder="{{field.label}}">{{field.value|default_if_none:''}}</textarea>
        {% else %}
          <input type="{{field.widget_type}}" class="form-control" id="{{field.id_for_label}}" name="{{field.name}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:''}}">
        {% endif %}
        <span class="text-danger small">{{field.help_text}}</span>
      </div>
    {% endfor %}
    {% if user.is_authenticated %}
      <button type="submit" class="btn btn-success">등록</button>
    {% endif %}
    <a href="{% url "board:index" %}" class="btn btn-primary">목록</a>
  </form>

{% endblock content %}
